* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: "Lexend Mega", sans-serif;
  text-align: center;
  color: #333;
}

img {
  max-width: 100%;
  height: auto;
}

h1 {
  margin: 1rem 2rem;
  font-size: 2.8rem;
}

h2 {
  margin: 0.5rem 1.5rem;
  font-size: 2rem;
}

h3 {
  font-size: 1.7rem;
  margin: 1rem 2rem;
}

nav {
}

nav ul {
  display: flex;
  justify-content: center;
  list-style: none;
}

nav ul a {
  display: block;
  padding: 1rem;
  color: #333;
  font-weight: bold;
  background: #eee;
  margin: 3rem 1rem;
  text-decoration: none;
}

nav ul a:hover {
  background: #ddd;
}

#mission {
  min-height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(images/skyscrapers.jpg) center center no-repeat;
  background-size: cover;
  background-attachment: fixed;
  flex-wrap: wrap;
}

.block {
  background: white;
  width: 100%;
  margin: 0 auto;
  padding: 2rem 1rem;
}

.block h2 {
  margin-top: 0;
}

/* portfolio */

#portfolio {
  padding: 2rem 1rem;
}

.companies {
  display: flex;
  max-width: 900px;
  justify-content: center;
  margin: 2rem auto;
  flex-wrap: wrap;
  align-items: baseline;
}

.companies figure {
  width: 30%;
  padding: 1rem;
}

/* team */
.teammates {
  background: url(images/blurred-road.jpg);
  padding: 2rem 1rem;
  display: flex;
  justify-content: center;
}

.team {
  color: white;
  padding: 1rem;
  flex-basis: 350px;
}

.team img {
  max-width: 200px;
}

/* contact */
.contact {
  padding: 2rem 1rem;
  max-width: 700px;
  margin: 0 auto;
}

.contact a {
  display: block;
  margin: 3rem auto;
  color: #333;
  font-weight: bold;
}

.copyright {
  padding: 0 1rem 5rem;
  font-weight: bold;
}
